set -e

deactivate 2>/dev/null || true
source ./venv/bin/activate
unset PS1
[ "$(command -v python)" == "${PWD}/venv/bin/python" ]

pip --require-virtualenv --disable-pip-version-check install \
    'pip==20.0.2'

poetry install
