set -e

deactivate 2>/dev/null || true

[ -f ./.venv/bin/activate ] || {
    python3 -m virtualenv .venv
}

source ./.venv/bin/activate
unset PS1
[ "$(command -v python)" == "${PWD}/.venv/bin/python" ]

# pip --require-virtualenv --disable-pip-version-check install pip --upgrade
# pip --disable-pip-version-check install -r requirements.txt
