set -e

deactivate 2>/dev/null || true
source ./venv/bin/activate
unset PS1
[ "$(command -v python)" == "${PWD}/venv/bin/python" ]

pip --require-virtualenv --disable-pip-version-check install \
    'pip-tools==4.5.1' \
    'pip==20.0.2'

pip-sync requirements.txt dev-requirements.txt
